{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验室设备管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
        <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/device/">实验室设备管理系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'device:xhp' %}">消耗品</a></li>
          <li><a href="{% url 'device:fxhp' %}">非消耗品</a></li>
          <li>
              <form class="navbar-form navbar-left" role="search" method="post" action="{% url  'device:search' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="请输入设备名称">
                  </div>
                  <button type="submit" class="btn btn-default">检索设备</button>
              </form>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'account:center' %}">您好, {{ request.user.username }}</a></li>
            <li><a href="{% url 'account:center' %}">个人中心</a></li>
            <li><a href="{% url 'account:logout' %}">注销</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="content" class="container">
  {% block content %}
  {% endblock %}
  <hr>
  <footer>
<p>&copy; 校园二手书管理毕业设计 2020</p>
</footer>
</div>

</body>
</html>